
    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('../../../assets/imgs/header.jpg');">
      <div class="container">
        <div class="row align-items-center position-relative">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <div class="section-title text-center"></div>
            <div class="section-title text-center"></div>
            <div class="section-title text-center"></div>
            <h1 class="breadcrumb-title mb-0 text-white"> &nbsp; &nbsp;&nbsp;&nbsp;About Us</h1>
          </div>         
        </div>
      </div>
    </section>
    <!--=================================
    Inner Header -->


&nbsp;

<!-- About Start -->
<section class="space-ptb">
<div class="container-xxl py-5">
   <div class="container5">
       <div class="row g-5 align-items-center">
         <div class="col-lg-5 offset-lg-1 mt-4 mt-lg-0">
            <div class="position-relative">
              <img class="img-fluid rounded-sm w-100" src="/docs/assets/imgs/Picture1.png" alt="">
              <p>Hi i am yatin</p>
            </div>
          </div>
           <div class="col-lg-6">
               <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
               <h1 class="mb-4">Welcome to AUN</h1>
               <p class="mb-4 text-black">Founded by Obillaneni Karthik Sri and spearheaded by Sankeerth Kohirkar as the Co-founder and CEO, AUN ALL U NEED is a pioneering startup dedicated to revolutionizing the way students access groceries and essentials in college campuses located in the outskirts. </p>
               <div class="row g-4 mb-4">
                   <div class="col-sm-6">
                       <div class="d-flex align-items-center border-start border-5 border-primary px-3">           
                       </div>
                   </div>
                   <div class="col-sm-6">
                       <div class="d-flex align-items-center border-start border-5 border-primary px-3">  
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
 </div>
 </section>
 <!-- About End -->


 <section class="space-ptb " style="background-image: url('../../../assets/img/bg-particle1.png');">
   <div class="container">
     <div class="row">    
       <div class="col-lg-6">
         <div class="section-title mb-5">
           <p class="footer-title text-black">This privacy notice for ALL U NEED (doing business as AUN) ('we', 'us', or 'our'), describes how and why we might collect, store, use, and/or share ('process') your information when you use our services ('Services'), such as when you:</p>
           <p class="footer-title text-black" >Download and use our mobile application (ALL U NEED), or any other application of ours that links to this privacy notice</p>            
           <p class="footer-title text-black">Engage with us in other related ways, including any sales, marketing, or events.</p>
           <p class="footer-title text-black"><b>Questions or concerns?</b> Reading this privacy notice will help you understand your privacy rights and choices. If you do not agree with our policies and practices, please do not use our Services. If you still have any questions or concerns, please contact us at aunenterprises1@gmail.com..</p>

         </div>
         <div class="row">
           <div class="col-sm-6 mb-4 pb-2">
           </div>
         </div>
       </div>
       <div class="col-lg-5 offset-lg-1 mt-4 mt-lg-0">
         <div class="position-relative">
           <img class="img-fluid rounded-sm w-100" src="../../../assets/imgs/12-min.jpg" alt="">         
         </div>
       </div>
     </div>
   </div>
 </section>

 
<!-- About Start -->
<section class="space-ptb">
   <div class="container-xxl py-5">
      <div class="container5">
          <div class="row g-5 align-items-center">
            <div class="col-lg-5 offset-lg-1 mt-4 mt-lg-0">
               <div class="position-relative">
                 <img class="img-fluid rounded-sm w-100" src="../../../assets/imgs/Picture1.png" alt="">
               </div>
             </div>
              <div class="col-lg-6">
                  <h1 class="mb-4">SUMMARY OF KEY POINTS</h1>
                  <p class="mb-4 text-black">This summary provides key points from our privacy notice, but you can find out more details about any of these topics by clicking the link following each key point or by using our table of contents below to find the section you are looking for.</p>
                  <p class="mb-4 text-black">What personal information do we process? When you visit, use, or navigate our Services, we may process personal information depending on how you interact with us and the Services, the choices you make, and the products and features you use. Learn more about personal information you disclose to us.</p>
                  <div class="row g-4 mb-4">
                      <div class="col-sm-6">
                          <div class="d-flex align-items-center border-start border-5 border-primary px-3">           
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="d-flex align-items-center border-start border-5 border-primary px-3">  
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </section>
    
  
 <section class="space-ptb ">
   <div class="container">
     <div class="row">
       <div class="col-lg-6">
         <div class="section-title mb-5">
           <p class="footer-title text-black"><b>How do we process your information?</b><br> We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent. We process your information only when we have a valid legal reason to do so. Learn more about how we process your information.</p>
           <p class="footer-title text-black"><b>How do you exercise your rights?</b><br>The easiest way to exercise your rights is by visiting In the App it can be done, or by contacting us. We will consider and act upon any request in accordance with applicable data protection laws.Want to learn more about what we do with any information we collect? Review the privacy notice in full.</p>
           <p class="footer-title text-black"><b>How do we keep your information safe?</b><br>We have organisational and technical processes and procedures in place to protect your personal information. However, no electronic transmission over the internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorised third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information. Learn more about how we keep your information safe.</p>
       </div>
         <div class="row">
           <div class="col-sm-6 mb-4 pb-2">
           </div>
         </div>
       </div>
       <div class="col-lg-5 offset-lg-1 mt-4 mt-lg-0">
         <div class="position-relative">
           <img class="img-fluid rounded-sm w-100" src="../../../assets/imgs/8-min.jpg" alt="">         
         </div>
       </div>
       </div>
   </div>
 </section>
 



     
 <!--=================================
Online Education -->
<section class="space-pt">
<div class="container">
 <div class="row d-flex align-items-center">
   <div class="col-md-6 mb-4 mb-md-0">
     <img class="img-fluid" alt="" src="../../assets/imgs/3.jpg">
   </div>
   <div class="col-md-6 ps-3 ps-md-5">
     <div class="row">
       <div class="col-6 col-sm-6 col-12 mb-md-0 mb-3">
         <div class="counter">
           <div class="counter-number">
           </div>
           <p class="footer-title text-black"><b>In what situations and with which parties do we share personal information?</b></p>
           <p class="footer-title text-black">We may share information in specific situations and with specific third parties. Learn more about when and with whom we share your personal information.</p>                
       </div>
       </div>

       <div class="col-6 col-sm-6 col-12 mb-md-0 mb-3">
         <div class="counter">
           <div class="counter-number">
           </div>
           <p class="footer-title text-black"><b>How do we keep your information safe?</b></p>
           <p class="footer-title text-black">We do not receive any information from third parties.</p>
         </div>
       </div>
       </div>
       
       <div class="row">
         <div class="col-6 col-sm-6 col-12 mb-md-0 mb-3">
         <div class="counter">
           <div class="counter-number">
           </div>
           <p class="footer-title text-black"><b>What are your rights? </b></p>
           <p class="footer-title text-black">Depending on where you are located geographically, the applicable privacy law may mean you have certain rights regarding your personal information. Learn more about your privacy rights.</p>
         </div>
       </div>
       <div class="col-6 col-sm-6 col-12 mb-md-0 mb-3">
         <div class="counter">
           <div class="counter-number">
           </div>
           <p class="footer-title text-black"><b>Do we process any sensitive personal information?</b></p>
           <p class="footer-title text-black">We do not process sensitive personal information.</p>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
</section>
<!--=================================
Online Education -->


<!--=================================
    Info Box -->
<section class="space-ptb space-ptb ">
   <div class="container">
     <div class="row">
       <div class="section-title text-center">
             <h2 class="footer-title text-primary">Founders</h2>
           </div>
       <div class="col-lg-2">
         <div>
         </div>
       </div>     
     <div class="wrapper">
         <div class="card">
             <input type="checkbox" id="card1" class="more" aria-hidden="true">
             <div class="content">
                 <div class="front" style="background-image: url(../../../assets/imgs/Founder\ Owner2.jpeg);">
                     <div class="inner">
                         <h5><b>Founder Owner</b></h5>                   
                     </div>
                 </div>
             </div>
         </div>
         <div class="card">
             <input type="checkbox" id="card3" class="more">
             <div class="content">
                 <div class="front" style="background-image: url(../../../assets/imgs/Co\ founder\ CEO.jpeg);">
                     <div class="inner">
                         <h5><b>Co founder CEO</b></h5>
                         <div class="rating">   
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     </div>
   </div>
 </section>
 <!--=================================
     Info Box -->  
     
 


<!--footer & pre footer -->
<div class="contact-section">
  <div class="overlay"></div>
  <!-- container -->
  <div class="container">
      <div class="col-md-10 col-lg-8 m-auto">
          <h6 class="title mb-2">Contact Us</h6>
          <footer class="footer1">
            <p >Mail <i class="fas fa-envelope "> aunenterprises1@gmail.com</i>  Follow Us <a href="https://www.instagram.com/all_u_.need/?img_index=2"><i class="fab fa-instagram text-danger"></i></a>
            </p>       
        </footer>
      </div>
      <!-- footer -->
      <footer class="footer1">
          <p class="infos1">&copy; <script>document.write(new Date().getFullYear())</script> Made with <i class="ti-heart text-danger"></i> by <a href="https://navatasolutions-ff4e8.web.app/home">Navata Solutions</a></p>       
      </footer><!-- end of footer -->




    <div id="back-to-top" class="back-to-top">
        <a href="mailto:aunenterprises1@gmail.com"><i class="fas fa-envelope"></i></a>
      </div>


    