
    <!-- page header -->
    <header class="header">
      <div class="overlay"></div>
      <div class="header-content">
          <h1 class="header-title"></h1>
          <p class="header-subtitle"></p>
      </div>
  </header><!-- end of page header -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container5">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6">
              <div class="row g-3">
                  <div class="col-6 text-start">
                      <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="../../../assets/imgs/1.jpg">
                  </div>
                  <div class="col-6 text-start">
                      <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="../../../assets/imgs/2.jpg" style="margin-top: 25%;">
                  </div>
                  <div class="col-6 text-end">
                      <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="../../../assets/imgs/3.jpg">
                  </div>
                  <div class="col-6 text-end">
                      <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="../../../assets/imgs/4.jpg">
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
              <h1 class="mb-4">Welcome to AUN</h1>
              <p class="mb-4 text-black">Founded by Obillaneni Karthik Sri and spearheaded by Sankeerth Kohirkar as the Co-founder and CEO, AUN ALL U NEED is a pioneering startup dedicated to revolutionizing the way students access groceries and essentials in college campuses located in the outskirts. </p>
              <h5 class="mb-4"> Our Mission</h5>
              <p class="mb-4 text-black">At AUN, our mission is simple yet profound: to bridge the gap in access to essential goods for students in colleges situated in remote areas. We envision a future where every student has convenient access to quality groceries and daily necessities, regardless of their geographical location.</p>
              <h5 class="mb-4"> Empowering Student Life</h5>
              <p class="mb-4 text-black">Understanding the challenges faced by students in accessing basic amenities, we have tailored our services to cater specifically to their needs. Whether it's textbooks, stationery, snacks, or other essentials, AUN ALL U NEED is committed to providing a seamless and reliable solution.</p>
              <div class="row g-4 mb-4">
                  <div class="col-sm-6">
                      <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                          
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About End -->




 

<!-- page container -->
<div class="container page-container">
  <div class="col-md-10 col-lg-8 m-auto">
      <h6 class="title mb-4">Why Choose Us?</h6>
      
  </div>  
  <!-- row -->
  <div class="row mb-4">
      <div class="col-md-4">
          <a href="javascript:void(0)" class="overlay-img">
              <img src="../../../assets/imgs/9-min.jpg" style="height: 400px;" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">  
              <div class="overlay"></div> 
              <div class="des">
                  <h1 class="title">Student-Centric Approach</h1>
                  <p>Our curated selection of products is carefully chosen to meet the diverse needs of college students, ensuring convenience and affordability.</p>
              </div>          
          </a>
      </div>
      <div class="col-md-4">
          <a href="javascript:void(0)" class="overlay-img">
              <img src="../../../assets/imgs/10-min.jpg" style="height: 400px;" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">  
              <div class="overlay"></div> 
              <div class="des">
                  <h1 class="title">Innovative Delivery Model:  </h1>
                  <p>Through strategic bulk deliveries at regular intervals, we optimize logistics and pass on the savings to our customers, making everyday essentials more accessible than ever.</p>
              </div>          
          </a>
      </div>
      <div class="col-md-4">
          <a href="javascript:void(0)" class="overlay-img">
              <img src="../../../assets/imgs/5-min.jpg" style="height: 400px;" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">  
              <div class="overlay"></div> 
              <div class="des">
                  <h1 class="title">Community Engagement: </h1>
                  <p>Beyond just a delivery service, AUN ALL U NEED serves as a platform for students to connect, share recommendations, and foster a sense of community within their campus.</p>
              </div>        
          </a>
      </div>          
  </div><!-- end of row -->



  <div class="col-md-10 col-lg-8 m-auto">
      <h6 class="title mb-4 mt-5 pt-5"> Our Commitment to Sustainability</h6>
      <p class="mb-5 text-start text-black">AUN ALL U NEED is not just about convenience; it's also about responsibility. We are committed to sustainable practices, offering eco-friendly packaging options and minimizing our environmental footprint wherever possible.</p>
  <p class="mb-5 text-start text-black">Join us in our mission to empower student life and redefine convenience in college campuses. Experience the AUN ALL U NEED difference today!</p>
    </div>
</div> <!-- end of page container -->

<!--footer & pre footer -->
<div class="contact-section">
    <div class="overlay"></div>
    <!-- container -->
    <div class="container">
        <div class="col-md-10 col-lg-8 m-auto">
            <h6 class="title mb-2">Contact Us</h6>
            <footer class="footer1">
              <p >Mail <i class="fas fa-envelope "> aunenterprises1@gmail.com</i>  Follow Us <a href="https://www.instagram.com/all_u_.need/?img_index=2"><i class="fab fa-instagram text-danger"></i></a>
              </p>       
          </footer>
        </div>
        <!-- footer -->
        <footer class="footer1">
            <p class="infos1">&copy; <script>document.write(new Date().getFullYear())</script> Made with <i class="ti-heart text-danger"></i> by <a href="https://navatasolutions-ff4e8.web.app/home">Navata Solutions</a></p>       
        </footer><!-- end of footer -->
  
  
  
  
      <div id="back-to-top" class="back-to-top">
          <a href="mailto:aunenterprises1@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
  
  
      
